{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "airbnb"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "react/state-in-constructor": [0],
    "comma-dangle": [
      "error",
      {
        "functions": "never",
        "arrays": "never",
        "imports": "never",
        "exports": "never",
        "objects": "always-multiline"
      }
    ],
    "import/prefer-default-export": "off",
    "react/jsx-props-no-spreading": "off"
  }
}